<div class= 'container padded'>
  <div class="row">
    <div class="col-xs-12 col-md-3 padding-top">
      <div class="text-center step_done">
      <span>1. Réservation</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 padding-top">
      <div class="text-center step_done">
      <span>2. Adresse</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 padding-top">
      <div class="text-center step_todo">
      <span>3. Paiement</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 padding-top">
      <div class="text-center step_todo">
      <span>4. Confirmation</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="map-card">
    <div class="row">
      <div class="col-xs-10 col-md-6 col-md-offset-3 padded">

        <h1>Modifier l'adresse de facturation</h1>

        <%= simple_form_for(@address, url: account_booking_address_path) do |f| %>
        <%= f.error_notification %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :address %>
        <%= f.input :zipcode %>
        <%= f.input :city %>

        <%= f.button :submit, "Utiliser cette adresse", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
