<%= simple_form_for @user, url: account_profile_path do |f| %>
  <%= f.error_notification %>

  <div class="row padded">
    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <%= image_tag user_pict(current_user), class: "profile-pict"%>
      <%= f.input :picture, placeholder: "Hello" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :bio, placeholder: "Tell us about yourself!" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2>Your score: <%= @user.points %></h2>
    </div>
  </div>
  <div class="row flex-center">
    <div class="col-xs-12 col-md-3 text-left">
      <%= image_tag insurance_pict(current_user), class: "other-pict" %>
      <%= f.input :insurance %>
    </div>
  </div>
  <div class="row">
    <div class="flex-center">
      <%= f.button :submit, "Save", class: 'btn btn-primary edit-btn'%>
    </div>
    <div class="flex-center">
      <%= link_to edit_user_registration_path, class: "btn btn-info edit-btn center" do %>
        Change password
      <% end %>
    </div>
  </div>
<% end %>
