<p>Hi <%= @booking.client.first_name %>,</p>

<p>Your booking for <strong><%= @booking.bed.name %></strong>, from <strong><%= @booking.starting_on %></strong> on beerandbed.com has been cancelled. You can try to book it at an other date, or book a different bed!</p>

<p>You can also visualize your bookings on <%=link_to 'your dashboard', account_dashboard_url %>.</p>

<p>Thank you for your trust,</p>
<p>See you soon on <%= link_to 'beeranded.com !', root_url %> </p>

<div>
  <%= image_tag 'beerandbed-logo-simple.png', width: '100px' %>
</div>
