<p>Hi <%=@booking.bed.owner.first_name%>,</p>


<p> The booking of <%= @booking.client.first_name %> for <strong><%= @booking.bed.name %></strong>, on <strong><%= @booking.starting_on %></strong>, has been cancelled.</p>

<p>You can visualize your reservations on <%=link_to 'your dashboard', account_dashboard_url %>.</p>

<p>Thank you for your trust,</p>
<p>See you soon on <%= link_to 'beerandbed.com !', root_url %> </p>

<div>
  <%= image_tag 'beerandbed-logo.png', width: '100px' %>
</div>
