<p>Hi <%= @booking.client.first_name %>,</p>

<p> Your booking for <strong><%= @booking.bed.name %></strong>, from <strong><%= @booking.starting_on %></strong>, on beerandbed.com  is now confirmed !</p>
<p>The total price of this booking is <strong><%=@booking.total_price%>€</strong>.</p>

<p> <%= @booking.bed.owner.first_name %> sent you a message :</p>
<p> <%= @booking.confirmation_message %></p>

<p>You can visualize your reservations on <%=link_to 'your dashboard', account_dashboard_url(@booking.client) %>.</p>

<p>Thank you for your trust,</p>
<p>See you soon on <%= link_to 'beerandbed.com !', root_url %> </p>

<div>
  <%= image_tag 'beerandbed-logo.png', width: '100px' %>
</div>
