<p>Bonjour <%= @booking.client.first_name %>,</p>

<p> Votre réservation pour <strong><%= @booking.territory.name %></strong>, à partir du <strong><%= @booking.starting_on %></strong>, sur airgabion.com  est maintenant confirmée !</p>
<p>Le montant total de cette réservation s'élève à <strong><%=@booking.total_price%>€</strong>.</p>

<p> <%= @booking.territory.owner.first_name %> vous a envoyé un message :</p>
<p> <%= @booking.confirmation_message %></p>

<p>Vous pouvez visualisez vos réservations sur <%=link_to 'votre dashboard', account_dashboard_url(@booking.client) %>.</p>

<p>Merci pour votre confiance,</p>
<p>A bientôt sur <%= link_to 'airgabion.com !', root_url %> </p>

<div>
  <%= image_tag 'airgabion-logo-03.png', width: '200px' %>
</div>
