<p>Bonjour <%= @bed.owner.first_name %>,</p>

<p>Merci d'avoir ajouté <%= @bed.name %> sur airgabion.com !</p>

<p>Nous vous informerons lorsque d'autres passionnés souhaiteront réserver votre installation.</p>
<p>En attendant, vous pouvez éditer la page de <%=link_to 'votre gabion', bed_url(@bed) %>, ou louer l'installation d'un autre passionné !</p>


<p>Merci pour votre confiance,</p>
<p>A bientôt sur <%= link_to 'airgabion.com !', root_url %> </p>

<div>
  <%= image_tag 'airgabion-logo-03.png', width: '200px' %>
</div>
