<p>Hi <%= @bed.owner.first_name %>,</p>

<p>Thanks for adding your bed <%= @bed.name %> on beerandbed.com !</p>

<p>We will inform you when other members of your network would like to book it.</p>
<p>In the meantime, you can edit <%=link_to 'your bed', bed_url(@bed) %>, or book someone else's from for your next travel!</p>


<p>Thank you for your trust,</p>
<p>See you soon on <%= link_to 'beerandbed.com !', root_url %> </p>

<div>
  <%= image_tag 'beerandbed-logo.jpg', width: '200px' %>
</div>
