
  <div class="col-xs-12 col-md-4 text-center">
    <div class="map-card">
    <div class="card">
      <div class="card-link">
        <%= link_to bed_path(bed) do %>
          <div class="card-bg" style="background-image:url(<%= bed.picture.url (:medium) %>)">
          </div>
          <div>
            <%= image_tag user_pict(bed.owner), class: "card-user avatar avatar-large avatar-bordered" %>
          </div>
          <div class="card-price"><h5><%= number_with_precision(bed.price, precision: 0) %>€ / nuit</h5></div>
        <% end %>
      </div>
    </div>
    <div class="card-text text-left">
      <%= link_to bed_path(bed) do %>
        <h5><%= bed.name %></h5>
      <% end %>
    </div>
    <div class="text-left">
      <p><%= bed.category_text %> - <%= bed.city %></p>
    </div>
    <% if owner_is_user(bed) %>
      <div class="card-edit text-left">
        <%= link_to edit_account_bed_path(bed) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
