<div>
  <div id="relative-index" class="hidden-xs">
    <div class="banner index-img-cover"></div>
    <div class="gradient"></div>
    <div class="container title-text">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="text-center padding-top">
            <h1>CHASSEZ DANS LES MEILLEURES HUTTES DE FRANCE</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="search-bar-ind">
      <div class="row">
        <div class="col-xs-12 col-md-12 text-center padding-top padding-bottom">
            <form role="form" action="/beds/" class="form-inline">
              <div class="form-group text-center">
                <fieldset>
                  <%= text_field_tag :city, params[:city], id: "user_input_autocomplete_address", class: "searchbar-input allwidth-xs form-control", placeholder: "Ville" %>
                </fieldset>
              </div>
              <div class="form-group">
                <%= select_tag :category, options_for_select(Bed.category.options(only: @search_categories), params[:category]), prompt: "Catégorie", class: "form-control searchbar-input" %>
              </div>
              <button type="submit" class="btn btn-primary searchbar-button">Rechercher</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container hidden-sm hidden-md" id="search-bar-ind-mobile">
      <div class="row">
        <div class="col-xs-12 col-md-12 text-center padding-top padding-bottom">
          <form role="form" action="/beds/" class="form-inline">
            <div class="form-group text-center">
              <fieldset>
                <%= text_field_tag :city, params[:city], id: "user_input_autocomplete_address_index_mobile", class: "searchbar-input allwidth-xs form-control", placeholder: "Ville" %>
              </fieldset>
            </div>
            <div class="form-group">
              <%= select_tag :category, options_for_select(Bed.category.options(only: @search_categories), params[:category]), prompt: "Catégorie", class: "form-control searchbar-input" %>
            </div>
            <button type="submit" id="search-button-mobile" class="btn btn-primary searchbar-button">Rechercher</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 padding-top"></div>
      <% @beds.each do |bed| %>
        <%= render 'bed_card', bed: bed %>
      <% end %>
    </div>

    <div class ="row">
      <div class="col-xs-12 text-center">
        <%= paginate @beds %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
        <div id="map" style="width: 100%; height: 600px;"></div>
      </div>
    </div>

    <script type="text/javascript">
      mixpanel.track("Page Loaded", {"Page Name": "Bed Index"});
    </script>

      <% content_for(:after_js) do %>
        <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
        <%= javascript_tag do %>
        $(function(){

          handler = Gmaps.build('Google');
          handler.buildMap({
            internal: { id: 'map' },
            provider: {
              scrollwheel: false
            }
          }, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });

        })
        <% end %>
      <% end %>
  </div>
  <% content_for(:after_js) do %>
    <!-- Custom JS code to bind to Autocomplete API -->
    <!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
    <!-- We'll detail this file in the article -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=#{ENV['GGL_MAP_JS_BROWSER_API_KEY']}" %>
    <%= javascript_include_tag 'autocomplete.js' %>

  <% end %>
<!-- function enableScrollingWithMouseWheel() {
    map.setOptions({ scrollwheel: true });
} -->
<!-- google.maps.MapOptions() -->
